/*=================================
*================BODY==============
*=================================*/

@font-face {
    font-family: "CHAMPAGNE & LIMOUSINES";
    src: url(/Multimedia/Fuentes/CHAMPAGNE\ &\ LIMOUSINES.TTF) format("truetype");
}

body {
    background: rgba(0, 0, 0);
    font-family: "CHAMPAGNE & LIMOUSINES";
}

/*=================================
*==============HEADER==============
*=================================*/

.headerPrincipal {
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.containerHeader {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logoHeader-link {
    width: 165px;
}

.headerPrincipal-nav {
    display: flex;
}

.headerPrincipal-nav-link {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 0 0 0 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.headerPrincipal-nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #d6b377;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.headerPrincipal-nav-link:hover {
    color: white;
}

.headerPrincipal-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*=================================
*==============MAIN================
*=================================*/

.mainPrincipal {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

.containerTitulo {
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    margin-top: 100px;
    color: white;
    font-size: 80px;
    font-family: 'WindSong', cursive;
    font-weight: 100;
}

.titulo p {
    display: inline;
    color: #d6b377;
    font-size: 70px;
    font-family: "CHAMPAGNE & LIMOUSINES";
    letter-spacing: 15px;
}

.hoja1 {
    width: 520px;
    animation: t1 8s ease infinite;
    position: absolute;
    right: -50px;
    top: -150px;
    rotate: -55deg;
}

.hoja2 {
    width: 520px;
    animation: t2 8s ease infinite;
    position: absolute;
    left: -50px;
    top: -150px;
    rotate: 55deg;
}

@keyframes t1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes t2 {
    0% {
        transform: scaleX(-1) translateY(0px);
    }
    50% {
        transform: scaleX(-1) translateY(20px);
    }
    100% {
        transform: scaleX(-1) translateY(0px);
    }
}

.containerCards {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card{
    width: 580px;
    margin: 150px 100px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover .coverCard img {
    transform: scale(1.1);
}

.coverCard{
    width: 100%;
    height: 300px;
    border-radius: 14px;
    overflow: hidden;
}

.coverCard img {
    width: 110%;
    transition: all 300ms;
}

.card h2 {
    text-align: center;
    font-size: 65px;
    font-weight: 100;
    margin-top: 30px;
    color: #d6b377;
    font-family: 'WindSong', cursive;
}

.card p {
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 100;
    color: white;
    letter-spacing: 0.1px;
    padding: 15px;
}

.card hr {
    margin: 40px 0px;
    border: none;
    height: 2px;
    background: #d6b377;
}

/*=================================
*==============FOOTER==============
*=================================*/

.containerFooter {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 40px 90px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    border-radius: 25px;
}

.logoBotonesFooter {
    border-right: 1px solid #d6b377;
    padding-right: 200px;
}

#logoFooter {
    width: 150px;
    padding: 0 20px 10px;
}

.botonesFooter {
    display: flex;
    justify-content: center;
}

.footerPrincipal-nav-link {
    background: #d6b377ce;
    border-radius: 15px;
}

.footerPrincipal-nav-link:hover {
    background: #ad7c40;
}

.contactoFooter p {
    color: white;
    padding: 20px;
}

.hojaFooter {
    position: absolute;
    width: 400px;
    right: -50px;
    top: -100px;
    rotate: -45deg;
}

/*=================================
*============RESPONSIVE============
*=================================*/

@media screen and (max-width:1680px) {

    .hoja1 {
        width: 480px;
    }

    .hoja2 {
        width: 480px;
    }

}

@media screen and (max-width:1200px) {
    
    .titulo {
        margin-top: 100px;
        font-size: 70px;
    }

    .titulo p {
        font-size: 60px;
    }

    .hoja1 {
        width: 480px;
        top: -130px;
        right: -160px;
        rotate: -45deg;
    }

    .hoja2 {
        width: 480px;
        top: -130px;
        left: -160px;
        rotate: 45deg;
    }

    .containerCards {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .card {
        transform: scale(1.2);
    }

    .logoBotonesFooter {
        padding-right: 100px;
    }

    .hojaFooter {
        width: 350px;
        right: -100px;
    }
}