/*=================================
*================BODY==============
*=================================*/

@font-face {
    font-family: "CHAMPAGNE & LIMOUSINES";
    src: url(/Multimedia/Fuentes/CHAMPAGNE\ &\ LIMOUSINES.TTF) format("truetype");
}

body {
    background: rgba(0, 0, 0); 
    font-family: "CHAMPAGNE & LIMOUSINES";
}

/*=================================
*==============HEADER==============
*=================================*/

.headerPrincipal {
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.containerHeader {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logoHeader-link {
    width: 165px;
}

.headerPrincipal-nav {
    display: flex;
}

.headerPrincipal-nav-link {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 0 0 0 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.headerPrincipal-nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #d6b377;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.headerPrincipal-nav-link:hover {
    color: white;
}

.headerPrincipal-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*=================================
*=========BANNER PRINCIPAL==========
*=================================*/

.mainPrincipal {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

.videoPrincipal {
    overflow: hidden;
}

.contentVideo {
    top: 250px;
    left: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.tituloBienvenida {
    color: white;
    font-size: 70px;
    font-family: 'WindSong', cursive;
    font-weight:100;
}

.tituloBienvenida2 {
    display: inline;
    color: #d6b377;
    font-size: 80px;
    font-family: 'WindSong', cursive;
    font-weight: 100;
}

.textoBienvenida{
    color: white;
    font-size: 25px;
    padding: 30px 0;
}

.botonBienvenida {
    color: black;
    background: #d6b377ce;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 14px;
    padding: 5px;
    margin-right: 40px;
}

.botonBienvenida:hover {
    background: #ad7c40;
    cursor: pointer;
}

.videoPrincipal {
    position: relative;
    height: 100vh;
}

.containerVideo {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

.containerVideo video {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.containerVideo img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;  
}*/

.containerVideo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/*=================================
*==============MENÚ================
*=================================*/

/*Equipo*/

.equipo {
    width: 100%;
    height: 100%;
    padding: 300px 0;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
}

.containerEquipo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardEquipo {
    width: 600px;
    height: 500px;
    margin-right: -50px;
    color: white;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: all 300ms;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.tituloEquipo {
    font-size: 60px;
    font-weight: 100;
    font-family: 'WindSong', cursive;
    margin: 80px auto;
}

.tituloEquipo p {
    color: #d6b377;
    font-size: 55px;
    font-family: "CHAMPAGNE & LIMOUSINES";
    letter-spacing: 5px;
}

.botonEquipo {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: white;
    background: #d6b377ce;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 25px;
    margin-bottom: 80px;
}

.botonEquipo:hover {
    background: #ad7c40;
}

.cardEquipo hr {
    border: none;
    width: 400px;
    height: 1px;
    background: #d6b377;
}

#imagenEquipo {
    width: 1000px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    z-index: 1;
}

#hoja1 {
    position: absolute; 
    left: -50px;
    bottom: -30px;
    width: 450px;
    z-index: 1;
    animation: t1 8s ease infinite;
    rotate: 10deg;
}

@keyframes t1 {
    0% {
        transform: scaleX(-1) translateY(0px);
    }
    50% {
        transform: scaleX(-1) translateY(20px);
    }
    100% {
        transform: scaleX(-1) translateY(0px);
    }
}

/*Servicios*/

.servicios {
    width: 100%;
    height: 100%;
    padding: 300px 0;
    position: relative;
    overflow: hidden;
}

.containerServicios {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.cardServicios {
    width: 600px;
    height: 500px;
    margin-left: -50px;
    color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: all 300ms;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.tituloServicios {
    font-size: 60px;
    font-weight: 100;
    font-family: 'WindSong', cursive;
    margin: 80px auto;
}

.tituloServicios p {
    color: #d6b377;
    font-size: 55px;
    font-family: "CHAMPAGNE & LIMOUSINES";
    letter-spacing: 5px;
}

.botonServicios {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: white;
    background: #d6b377ce;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 25px;
    margin-bottom: 80px;
}

.botonServicios:hover {
    background: #ad7c40;
}

.cardServicios hr {
    border: none;
    width: 400px;
    height: 1px;
    background: #d6b377;
}

#imagenServicios {
    width: 1000px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    z-index: 1;
}

#hoja2 {
    position: absolute; 
    right: -50px;
    bottom: -30px;
    width: 450px;
    z-index: 1;
    rotate: -10deg;
    animation: t2 8s ease infinite;
}

@keyframes t2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.coverCard {
    position: absolute;
    left: 5000px;
}
    
/*Fotos*/

.galeria {
    width: 100%;
    height: 100%;
    padding: 300px 0;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
}

.containerGaleria {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardGaleria {
    width: 600px;
    height: 500px;
    margin-right: -50px;
    color: white;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 25px;
    transition: all 300ms;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.tituloGaleria {
    font-size: 60px;
    font-weight: 100;
    font-family: 'WindSong', cursive;
    margin: 80px auto;
}

.tituloGaleria p {
    color: #d6b377;
    font-size: 55px;
    font-family: "CHAMPAGNE & LIMOUSINES";
    letter-spacing: 5px;
}

.botonGaleria {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: white;
    background: #d6b377ce;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 25px;
    margin-bottom: 80px;
}

.botonGaleria:hover {
    background: #ad7c40;
}

.cardGaleria hr {
    border: none;
    width: 400px;
    height: 1px;
    background: #d6b377;
}

#imagenGaleria {
    width: 1000px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

/*PorQueElegirnos*/

.containerTitulo {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: white;
    font-size: 80px;
    font-family: 'WindSong', cursive;
    font-weight: 100;
}

.titulo p {
    display: inline;
    color: #d6b377;
    font-size: 60px;
    font-family: "CHAMPAGNE & LIMOUSINES";
    letter-spacing: 15px;
}

.elegirnos {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 300px auto;
}

.containerElegirnos {
    width: 1200px;
    margin: auto;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contentElegirnos {
    margin: 20px;
    perspective: 1000px;
}

.contentElegirnos:hover .elegirnosCard {
    transform: rotateY(180deg);
}

.elegirnosCard {
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 800ms;
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.elegirnosFront, .elegirnosBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.elegirnosBack {
    transform: rotateY(180deg);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #d6b377ce;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.bodyElegirnosFront {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 43px;
    font-weight: 100;
    font-family: 'WindSong', cursive;
}

.bodyElegirnosFront hr {
    margin-top: 50px;
    border: none;
    width: 250px;
    height: 1px;
    background: #d6b377;
}

.bodyElegirnosBack {
    padding: 30px;
    text-align: center;
}

.bodyElegirnosBack p {
    font-size: 28px;
}

/*=================================
*==============FOOTER==============
*=================================*/

.containerFooter {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 40px 90px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    border-radius: 25px;
}

.logoBotonesFooter {
    border-right: 1px solid #d6b377;
    padding-right: 200px;
}

#logoFooter {
    width: 150px;
    padding: 0 20px 10px;
}

.botonesFooter {
    display: flex;
    justify-content: center;
}

.fa-brands {
    color: #d6b377ce;
}

.footerPrincipal-nav-link {
    background:none;
    border-radius: 15px;
    border: none;
}

.fa-brands:hover {
    color: #ad7c40;
}

.contactoFooter p {
    color: white;
    padding: 20px;
}

.hojaFooter {
    position: absolute;
    width: 400px;
    right: -50px;
    top: -100px;
    rotate: -45deg;
}


/*=================================
*============RESPONSIVE============
*=================================*/


@media screen and (max-width:1200px){

    .contentVideo {
        top: 0;
        left: 0;
        transform: scale(1.2);
    }

    .textoBienvenida {
        font-size: 30px;
    }

    .botonBienvenida {
        transform: scale(1.4);
        margin: 10px 40px;
    }

    .fa-brands {
        transform: scale(1.4);
        margin: 10px;
    }

    .tituloBienvenida {
        font-size: 100px;
    }

    .tituloBienvenida2 {
        font-size: 100px;
    }

    .contentVideo {
        top: -100px;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    .videoPrincipal {
        height: 80vh;
    }

    .equipo {
        padding: 400px 0;
        /*background:linear-gradient(rgba(5, 7, 12, 0.3),rgba(5, 7, 12, 1.0)), url("/Multimedia/Equipo/16 Martina LQ-91.JPG") center no-repeat;*/
    }

    .tituloEquipo {
        margin-top: 330px;
    }

    #imagenEquipo {
        width: 0;
    }

    .cardEquipo {
        transform: scale(1.3);
        width: 600px;
        height: 700px;
    }

    .coverCard{
        width: 100%;
        height: 300px;
        overflow: hidden;
        left: 0;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    }

    .coverCard img {
        margin-top: 10px;
        width: 92%;
        padding: 15px;
        border-radius: 35px;
    }

    .servicios {
        padding: 400px 0;
        /*background:linear-gradient(rgba(5, 7, 12, 0.3),rgba(5, 7, 12, 1.0)), url("/Multimedia/Decoración/16 Martina LQ-69.JPG") center no-repeat;*/
    }

    .tituloServicios {
        margin-top: 335px;
    }

    #imagenServicios {
        width: 0;
    }

    .cardServicios {
        transform: scale(1.3);
        width: 600px;
        height: 700px;
    }

    .galeria {
        padding: 400px 0;
        /*background:linear-gradient(rgba(5, 7, 12, 0.3),rgba(5, 7, 12, 1.0)), url("/Multimedia/Decoración/Gime-y-Franco-Casamiento-Emilia-Gualdoni-Fotografia-565.jpg") center no-repeat;*/
    }

    .tituloGaleria {
        margin-top: 330px;
    }

    #imagenGaleria {
        width: 0;
    }

    .cardGaleria {
        transform: scale(1.3);
        width: 600px;
        height: 700px;
    }

    .contentElegirnos {
        transform: scale(1.3);
        margin: 70px;
    }

    .containerElegirnos {
        width: 1000px;
    }

    .logoBotonesFooter {
        padding-right: 100px;
    }

    .hojaFooter {
        width: 350px;
        right: -100px;
    }
}