/*=================================
*============RESPONSIVE============
*=================================*/

@media screen and (max-width: 1680px) {
  .hoja1 {
    width: 480px;
  }

  .hoja2 {
    width: 480px;
  }
}

@media screen and (max-width: 1200px) {
  .titulo {
    margin-top: 100px;
    font-size: 70px;
  }

  .titulo p {
    font-size: 60px;
  }

  .hoja1 {
    width: 480px;
    top: -130px;
    right: -160px;
    rotate: -45deg;
  }

  .hoja2 {
    width: 480px;
    top: -130px;
    left: -160px;
    rotate: 45deg;
  }

  .containerCards {
    margin: 150px auto 300px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .card {
    transform: scale(1.2);
  }

  .card h2 {
    margin-top: -130px;
  }

  .card p {
    margin-top: 15px;
  }

  .logoBotonesFooter {
    padding-right: 100px;
  }

  .hojaFooter {
    width: 350px;
    right: -100px;
  }

  .fa-brands {
    transform: scale(1.4);
    margin: 10px;
  }
}
