/*=================================
*============RESPONSIVE============
*=================================*/

/*17 pulgadas*/

@media screen and (max-width: 1365px) {
  .hoja1 {
    width: 480px;
    right: -100px;
  }

  .hoja2 {
    width: 480px;
    left: -100px;
  }

  .card {
    transform: scale(0.9);
  }

  .card p {
    margin-top: 50px;
    font-size: 23px;
    padding: 0px;
  }

  .card2 {
    transform: scale(0.9);
  }

  .card2 p {
    margin-top: 50px;
    font-size: 23px;
    padding: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .titulo {
    margin-top: 100px;
    font-size: 70px;
  }

  .titulo p {
    font-size: 60px;
  }

  .hoja1 {
    width: 480px;
    right: -120px;
  }

  .hoja2 {
    width: 480px;
    left: -120px;
  }

  .containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerCards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1500px;
  }

  .coverCard {
    transform: scale(1.1);
  }

  .coverCard2 {
    transform: scale(1.1);
    top: 0;
    position: absolute;
  }

  .card {
    margin-top: 60px;
    width: 1000px;
  }

  .card h2 {
    font-size: 70px;
  }

  .card p {
    font-size: 32px;
  }

  .card2 {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 1000px;
    position: absolute;
    top: 650px;
  }

  .card2 h2 {
    font-size: 70px;
  }

  .card2 p {
    font-size: 32px;
  }
}

/*14 pulgadas*/

@media screen and (max-width: 1023px) {
  .hoja1 {
    width: 480px;
    top: -130px;
    right: -160px;
    rotate: -45deg;
  }

  .hoja2 {
    width: 480px;
    top: -130px;
    left: -160px;
    rotate: 45deg;
  }

  .coverCard {
    margin-top: 20px;
    margin-bottom: 70px;
    width: 90%;
  }

  .coverCard2 {
    margin-top: -100px;
    width: 90%;
  }

  .card {
    height: 850px;
    width: 100%;
  }

  .card h2 {
    font-size: 100px;
  }

  .card p {
    font-size: 60px;
  }

  .card hr {
    margin-top: 100px;
  }

  .containerCards2 {
    margin-bottom: 1800px;
  }

  .card2 {
    height: 850px;
    width: 100%;
  }

  .card2 h2 {
    font-size: 100px;
  }

  .card2 p {
    font-size: 60px;
  }

  .card2 hr {
    margin-top: 100px;
  }
}
