/*19 pulgadas*/

@media screen and (max-width: 1366px) {
  .logoBotonesFooter {
    padding-right: 30px;
  }
}

/*17 pulgadas*/

@media screen and (max-width: 1280px) {
  .hojaFooter {
    width: 350px;
    right: -50px;
  }
}

/*14 pulgadas*/

@media screen and (max-width: 1024px) {
  .hojaFooter {
    width: 350px;
    right: -150px;
  }

  #logoFooter {
    margin-left: -50px;
  }

  .botonesFooter {
    margin-left: -50px;
  }

  .fa-brands {
    transform: scale(1.8);
    margin: 10px;
  }

  .contactoFooter p {
    font-size: 20px;
  }
}
